	<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Email Message to Post 854:</strong>
  <%= @user.message %>
</p>
</br>

<%= link_to 'Back to legion post 854 contact us page', "http://legionpost854.com/contact_us", class: "btn brn-lg btn-primary" %>

